<div class="container"> 
    <h1>Create Post</h1>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form action="/posts/uploads" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" name="author" placeholder="Author"  />
                </div>
                <div class="form-group">
                    <input type="file" name="postimage" multiple/> <!--multiple is for upload multiple file-->
                </div>
                <button type="submit">Post</button>
            </form>
        </div>

    </div>
</div>