.form_class {
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    border: 2px solid gray;
    margin: 5% 0 5% 35%;
    width: 600px;
    height: 250px;
  }
  
  .first_div {
    width: 100%;
    text-align: center;
    vertical-align: center;
    padding: 4% 0 0 0;
    display: flex;
    flex-direction: row;
  }
  
  .fileClass {
    width: 410px;
    height: 32px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 18px/22px Verdana;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    /* visibility: hidden; */
  }
  
  input[type="file"] {
    width:73.3%;
    background-color: #ffffff00;
    margin: 0;
    padding: 0px;
    border: 100%;
    font: normal normal normal 18px/22px Verdana;
    border: 1px solid #707070;
    border-radius: 5px;
    margin-left: 7.5%;
    /* visibility: hidden; */
  }

  input[type="file"]::-webkit-file-upload-button {
    width: 100px;
    background: #f0f0f0 0% 0% no-repeat padding-box;
    margin: 0 2% 0 0;
    padding: 0 2% 0 2%;
    border: 1px solid #707070;
    border-radius: 5px;
    border: 100%;
    height: 100%;
    font: normal normal normal 18px/22px Verdana;
    opacity: 1;
    letter-spacing: 0px;
    color: #000000;
    /* visibility: hidden; */
  }

  input[type="text"]{
    color:black;
  }

  .browse {
    width: 100px;
    height: 32px;
    background: #f0f0f0 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    text-align: left;
    font: normal normal normal 18px/22px Verdana;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-align: center;
  }
  
  .second_div {
    padding: 4% 0 4% 0;
    display: flex;
    flex-direction: row;
  }
  .author {
    margin-left:7.3%;
    padding: 0 0 0 2%;
    width: 200px;
    height: 32px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    font: normal normal normal 18px/22px Verdana;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  
  .loc {
    margin-left: 14%;
    padding: 0 0 0 2%;
    width: 200px;
    height: 32px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    font: normal normal normal 18px/22px Verdana;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  
  .third_div {
    width: 100%;
    margin: 0 0 4% 0;
  }
  
  .des {
    padding: 0 0 0 2%;
    width: 500px;
    height: 32px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 18px/22px Verdana;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  
  .post_inert {
    /* margin: 0 0 5% 0; */
    padding: 0 0 0 0;
    width: 100px;
    height: 32px;
    vertical-align: center;
    font: normal normal normal 18px/22px Verdana;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    background: #f0f0f0 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    
  }
  
  .post_active {
    width: 100px;
    height: 32px;
    vertical-align: center;
    /* margin-bottom: 5%; */
    padding: 0 0 0 0;
    background: #347dfd 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
    font: normal normal bold 18px/22px Verdana;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
 
  button{
    padding: 0 0 0 0;
  }



  input::-webkit-file-upload-button{
    visibility: hidden;
  }

  .custom-file-input::before {
    content: 'Browse';
    width: 100px;
    height: 32px;
    background: #f0f0f0 0% 0% no-repeat padding-box;;
    border: 1px solid #707070;
    border-radius: 5px;
    text-align: left;
    font: normal normal normal 18px/22px Verdana;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-align: center;

  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #110202, #110101);
  }

