.HomePage {
	display: grid;
	place-items: center;
	background-color: #ffffff;
	height: 100vh;
}
/* Left section */
.leftSection {
	display: flex;
	background-color: #ffffff;
	height: 90vh;
	width: 60vw;
}
/* Left section (image)*/
.homePage-img {
	flex: 0.5;
	display: flex;
}
/* Right section */
.rightSection {
	flex: 0.5;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 30vh 0vh 0vh 10vh;
}
/* Right section(heading & button section ) */
.rightSectionContent {
	height: 95vh;
	width: 33.33vw;
	display: flex;
	vertical-align: middle;
	text-align: left;
}

.teamHeading {
	font: normal normal normal 8vh/12vh Palatino;
	letter-spacing: 0px;
	color: #006238;
	opacity: 1;
	margin-bottom: 2vh;
}
.enter-btn {
	background: #ffffff;
	border: 0.5vh solid #006238;
	border-radius: 1.5vh;
	text-align: center;
	display: flex;
	width: 17vh;
	height: 7vh;
	padding: 0vh 2vh 2vh 1vh;
	font: normal normal normal 5vh/6vh Verdana;
	letter-spacing: 0px;
	color: #006238;
	opacity: 1;
}

.enter-btn:hover {
	cursor: pointer;
}
