.Total{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.App{
	top: 200px;
	left: 600px;
	width: 800px;
	height: 650px;
	border: 2px solid lightgray;
	border-radius: 5px;
	opacity: 1;
	background: white 0% 0% no-repeat padding-box;
	margin-top: 80px;
	
	/* width: 500px;
	margin-top: 50px;
	margin-bottom: 45px;	 */
}

.headSection{
 	display: flex;
	align-items: center;
	padding: 0px 20px 0px 20px;  
}
.nameLocation{
  flex: 1;
}
.nameLocation > h1{
	font: normal normal bold 28px/34px Helvetica;
	margin-top: 8px;
  	margin-bottom: 0;
	/* font-family: Helvetica; */
}
.nameLocation > h2{
  	margin-top: 5px;
	margin-bottom: 10px; 
	font: normal normal normal 24px/29px Verdana;
	color: #707070;
	/* font-family: Verdana; */
}
.moreIcon{
  	width: 20px;
	height: 5px;
}
.avatar{
	top: 300px;
	left: 600px;
	width: 800px;
	height: 400px;
	object-fit: contain;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.description{
	top: 820px;
	left: 632px;
	width: 450px;
	height: 28px;
	text-align: left;
	font: normal normal bold 25px/34px Helvetica;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	padding: 0px 20px 5px 20px;
		/* font-weight: 70%;
	padding: 0px 20px 5px 20px;
	font-family: Helvetica;
	margin-bottom: 8px;
} */
}
.likesShareDate{
	display: flex;
	padding: 10px 20px 0px 20px;
	opacity: 1;
	font-size: small;
}
.likesShare{
	flex: 1;
}
.likesIcon{
	width: 30px;
	height: 30px;
	margin-right: 22px;
}
.shareIcon{
	width: 30px;
	height: 30px;
}
.likes{
	top: 764px;
	left: 632px;
	width: 77px;
	height: 24px;
	padding: 15px 0px 15px 20px;
	text-align: left;
	font: normal normal normal 20px/24px Verdana;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
}


.date{
	text-align: left;
	font: normal normal normal 20px/24px Verdana;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}