.App{
  /* position: relative; */
  font-size: 0px;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  margin: 5% 10% 5% 10%;   
  width: 50%; 
  padding: 0 0 0 0;
  border-radius: 10px;
  letter-spacing: 0px;
}  
.headSection{
  display: flex;
  flex-direction: row;
  height:30%;
  text-align: center;
}
.nameLocation{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 0 0 5%;
}
.name {
  text-align: left;
  font: normal normal bold 28px/34px Helvetica;
  padding: 0 0 0 5%;
  opacity: 1;
  margin: 1% 0 1% 0;
}
.location{
  text-align: left;
  padding: 0 0 0 5%;
  color: #707070;
  font: normal normal normal 24px/29px Verdana;
  opacity: 1;
  margin: 1% 0 1% 0;
}  
.moreIconClass{
  display:flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center; 
  width: 40%;
  /* max-width: 100%; */
  padding: 0 0 0 0;
  margin: 0 3% 0 65%;
} 
.moreIcon{
  margin-right: 5%;
  max-width:50%;
  height: auto;
  align-items: left;
  text-align: left; 
  /* justify-content: center; */
}
.midsection{
  height: auto;
}
.avatar{
  /* position: relative; */
  width: 100%;
  height: auto;
  background: transparent 0% 0% no-repeat padding-box;
}
.footSection{
  height: 30%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.likesShareDate{
  align-items: left;
  display: flex;
  flex-direction: row;
  font-size: 0px;
  width: 100%;
  margin: 1% 0 1% 0;
}
.likesShare{
  align-items: left;
  display: flex;
  flex-direction: row;
  width:50%;
  padding: 0 0 0 2%;
  margin-left: 2.5%;
}
.likesIcon{
  text-align: left;
  padding: 0 0 0 5%;
  width: auto;
  max-width: 100%;
  height: auto; 
  opacity: 1;  
  color: black;
}
.shareIcon{
  width: auto;
  padding: 0 0 0 5%;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.date{
  text-align: left;
  padding: 0 0 0 0;
  width: 50%;
  display: flex;
  margin-left: 80%;
  font: normal normal normal 20px/24px Verdana;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 0 0 0 60%;
}
.likes{
  text-align: left;
  padding: 0 0 0 5%;
  font: normal normal normal 20px/24px Verdana;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  margin: 1% 0 1% 0;
}
.description{
  text-align: left;
  padding: 0 0 0 5%;
  font: normal normal bold 28px/34px Helvetica;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 1% 0 1% 0;
}
  

